<div class="mt-2">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/profil.jpg"
        alt=""
        class="img-thumbnail rounded-circle"
        width="20%" />
      <h1 class="display-4">Alim Assidik</h1>
      <p class="lead">Progammer</p>
    </div>
  </div>
</div>
